footer{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
    background-color:   var(--white);
    margin:             80px 3rem 24px;
    width:              calc(94% - 6rem);
    border-radius:      6px;
    padding:            0 3%;
    height:             56px;
    position:           relative;
    z-index:            50;

    @media screen and (max-width: 768px){
        height:             48px;
        margin:             80px 1.5rem 20px;
    }

    .footerSocials{
        display:            flex;
        justify-content:    space-between;
        align-items:        center;
        gap:                1.5rem;

        a{
            display:            block; 
            height:             28px;
            
            @media screen and (max-width: 768px){
                height:             22px;
            }
            
            @media screen and (max-width: 500px){
                margin-top:         -2px;
                height:             20px;
            }

            img{
                width:              100%;
                height:             100%;
                transition:         all 0.1s ease-in-out;

                &:hover{
                    filter:             brightness(1.3);
                }
            }
        }
    }

    p{
        color:              var(--black);
        font-size:          1.25rem;
        font-weight:        700;
                    
        @media screen and (max-width: 500px){
            font-size:          1rem;
        }
    }
}