@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --white:                    #FFFFFF;
    --black:                    #000000;
    --background:               #f5f5f5;
    --main:                     #FF248D;
    --text-white:               #FFFFFF;
    --toastify-color-progress-light: linear-gradient(to right, #FF248D, #9124FF);
}

*{
    padding:            0;
    margin:             0;
    border:             0;
    font-size:          100%;
    list-style:         none;
    text-decoration:    none;
}

#root{
    width:              100%;
    position:           relative;
    background-color:   var(--background);
}

.noSelect{
    -webkit-touch-callout:      none;
      -webkit-user-select:      none;
       -khtml-user-select:      none;
         -moz-user-select:      none;
          -ms-user-select:      none;
              user-select:      none;
}

html, body{
    width:              100%;
    min-width:          100%;
    background-color:   var(--background);
    font-size:          16px;
    font-family:        "Poppins", sans-serif;
    scroll-behavior:    smooth;
}

body{
    min-height:         100%;
    overflow-x:         hidden;
}

p::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, a::-moz-selection, img::-moz-selection, span::-moz-selection, input::-moz-selection{/*For Firefox */
    color:              #fff;
    background:         var(--main);
}
  
p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, a::selection, img::selection, div::selection, span::selection, input::selection{
    color:              #fff;
    background:         var(--main);;
}

::-webkit-scrollbar{
    width:              10px;
}
  
::-webkit-scrollbar-track{
    background:         var(--background);
}
  
::-webkit-scrollbar-thumb{
    background:         var(--main);
    border-radius:      200px;
}
  
::-webkit-scrollbar-thumb:hover{
    background:         var(--main);
}

.bgShape{
    position:           absolute;
    left:               0;
    width:              100%;
    z-index:            0;
}

.phone{
    margin-top:         -12lvh;
    width:              clamp(400px, 20%, 400px);
    position:           absolute;
    z-index:            1;
    /*center*/
    left:               50%;
    transform:          translateX(-50%);
}